.container1 {
  padding: 0.5rem;
  width: 100%;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1240px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5651e5;
}

.what {
  padding: 1rem 0 1rem 0;
}

.container_skills {
  display: grid;
  
  gap: 2rem;
}

.container_skill1 {
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.container_skill1:hover {
  transform: scale(1.05);
}

.container_skill2 {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.skill_img {
  margin: auto;
}

.skill_name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*---------- Media Query ----------*/
@media (min-width: 1024px) {
  .container1 {
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .container_skills {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .container_skills{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
